.app-header__nav {
  width: 30%;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  background-color: #fed41e;
  transition: left 0.5s cubic-bezier(0.72, 0.86, 1, 0.99);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1400px) {
    width: 50%;
  }

  @media screen and (max-width: 992px) {
    width: 60%;
  }

  @media screen and (max-width: 768px) {
    width: 70%;
  }

  @media screen and (max-width: 576px) {
    width: 100%;
  }

  &-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media screen and (max-width: 768px) {
      width: 70%;
    }

    &__item {
      list-style: none;
      font-size: 2rem;

      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }

    &__link {
      text-decoration: none;
      color: grey;
      border-bottom: 1px dashed;

      &.active {
        color: black;
      }
    }
  }

  &.open {
    left: 0;
  }
}
