.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 1000px; */
  border: 2px solid #f0f0f0;
  border-top: transparent;
  padding: 19px;
  position: fixed;

  &-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-bottom: 100px;
    gap: 50px;
    margin-top: 230px;

    &__svg {
      cursor: pointer;
      width: 24px;
      height: 24px;
    }
  }

  &-totop {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 80px;
    display: flex;
    width: 48px;
    height: 48px;
    border: 2px solid #f0f0f0;
    border-radius: 50%;

    &__svg {
      width: 18px;
      height: 18px;
    }
  }
}
