.aside {
  background-color: rgba(252, 252, 252, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 1000px; */
  border: 2px solid #f0f0f0;
  border-top: transparent;
  padding: 19px;
  position: fixed;
  left: 60px;
  z-index: 1;

  &-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-bottom: 100px;
    margin-top: 320px;
    gap: 46px;

    &__svg {
      cursor: pointer;
      width: 24px;
      height: 24px;

      @media screen and (max-width: 1201px) {
        width: 18px;
        height: 19px;
      }
    }
    @media screen and (max-width: 1201px) {
      margin-top: 250px;
      gap: 40px;
      margin-bottom: 65px;
    }
  }

  &-totop {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 80px;
    display: flex;
    width: 48px;
    height: 48px;
    border: 2px solid #f0f0f0;
    border-radius: 50%;

    &__svg {
      width: 18px;
      height: 18px;
    }

    @media screen and (max-width: 1201px) {
      margin-bottom: 33px;
    }
  }

  @media screen and (max-width: 1201px) {
    padding: 19px 9px;
    left: 40px;
  }
  @media screen and (max-width: 750px) {
    display: none;
  }
}
