@import '../utils/variables';

.footer {
  grid-area: footer;
  background-color: $blackColor;

  .container {
    max-width: 1450px;
    border: transparent;
    padding: 0;
    margin: 0 auto;

    @media screen and (max-width: 1201px) {
      padding: 0 40px;
    }
    @media screen and (max-width: 641px) {
      padding: 0 20px;
    }
    @media screen and (max-width: 321px) {
      padding: 0 10px;
    }
  }

  &-wrapper {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0 147px 10px;
    border-bottom: 1px solid #747474;

    @media screen and (max-width: 1201px) {
      padding: 40px 0 127px;
    }

    @media screen and (max-width: 641px) {
      padding: 80px 0 64px;
      column-gap: 77px;
      justify-content: flex-start;
    }
    @media screen and (max-width: 321px) {
      padding: 60px 0 36px;
    }
  }
  &-logos {
    display: flex;
    flex-direction: column;
    gap: 192px;
    max-width: 303px;
    margin-top: 60px;
    width: 100%;
    &__main {
      &--svg {
        width: 153px;
        height: 117px;
        @media screen and (max-width: 1201px) {
          width: 119px;
          height: 91px;
        }
        @media screen and (max-width: 641px) {
          width: 95px;
          height: 74px;
        }
        @media screen and (max-width: 401px) {
          width: 60px;
          height: 47px;
        }
      }
    }

    &__sub {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--left,
      &--right {
        position: relative;
      }

      &--left {
        &:hover .footer-logos__sub-tooltip {
          visibility: visible;
        }

        @media screen and (max-width: 321px) {
          order: 2;
        }
      }
      &--right {
        &:hover .footer-logos__sub-tooltip {
          visibility: visible;
        }
      }

      &-tooltip {
        visibility: hidden;
        width: 120px;
        background-color: #fcfcfc;
        color: #0b0b0b;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 115%;

        &::after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #fcfcfc transparent transparent transparent;
        }
      }

      &-span {
        color: #fcfcfc;

        @media screen and (max-width: 1201px) {
          padding: 24px 0;
          align-self: center;
        }
        @media screen and (max-width: 641px) {
          align-self: flex-end;
          padding: 13px 0;
        }

        @media screen and (max-width: 401px) {
          align-self: center;
          padding: 17px 0;
          order: 1;
        }
      }

      &--svg-left {
        width: 118px;
        height: 62px;
        @media screen and (max-width: 1201px) {
          width: 118px;
          height: 62px;
        }
        @media screen and (max-width: 641px) {
          width: 93px;
          height: 49px;
        }
        @media screen and (max-width: 401px) {
          width: 80px;
          height: 42px;
        }
      }

      &--svg-right {
        width: 128px;
        height: 47px;
        @media screen and (max-width: 1201px) {
          width: 128px;
          height: 47px;
        }
        @media screen and (max-width: 641px) {
          width: 102px;
          height: 38px;
        }
        @media screen and (max-width: 401px) {
          width: 84px;
          height: 31px;
          order: 0;
        }
      }

      @media screen and (max-width: 1201px) {
        flex-direction: column;
      }

      @media screen and (max-width: 641px) {
        align-items: flex-end;
        flex-direction: row;
        max-width: 264px;
        width: 100%;
      }
      @media screen and (max-width: 321px) {
        flex-direction: column;
      }
    }

    @media screen and (max-width: 1201px) {
      gap: 92px;
      max-width: 130px;
    }
    @media screen and (max-width: 641px) {
      max-width: 100%;
      flex: 100%;
      flex-direction: row;
      margin-top: 0;
      gap: 115px;
    }
    @media screen and (max-width: 321px) {
      flex-direction: column;
      max-width: max-content;
      gap: 92px;
    }
  }
  &-nav {
    margin-top: 60px;
    padding-right: 145px;

    &__title {
      color: $whiteColor;
    }

    &__list {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      @media screen and (max-width: 641px) {
        gap: 35px;
      }
      @media screen and (max-width: 321px) {
        gap: 20px;
        margin-top: 25px;
      }
    }

    &__link {
      color: $ligthGrayColor;
      font-size: 18px;
      transition: 0.2s;

      &:hover {
        color: $whiteColor;
      }

      @media screen and (max-width: 321px) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    @media screen and (max-width: 641px) {
      padding: 0;
    }
    @media screen and (max-width: 321px) {
      margin-top: 0;
    }
  }

  &-copyrights {
    color: #bcbcbc;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8889rem;
    gap: 0.4444rem;
    line-height: 23px;
    margin: 0 0.5556rem;
    padding: 2.7778rem 0;
    width: 100%;

    &__left {
      flex: 1;

      @media screen and (max-width: 321px) {
        order: 2;
      }
    }

    &__right {
      @media screen and (max-width: 321px) {
        order: 1;
        flex: 100%;
      }
    }

    @media screen and (max-width: 1201px) {
      padding: 2.1778rem 0;
      margin: 0;
    }
    @media screen and (max-width: 641px) {
      padding: 20px 0;
      font-size: 14px;
      line-height: 20px;
    }

    @media screen and (max-width: 321px) {
      font-size: 11px;
      line-height: 16px;
    }
  }
}

.volunteers {
  max-width: 339px;
  margin-top: 60px;

  &-support {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__text {
      margin-right: 35px;
      line-height: 28px;

      @media screen and (max-width: 321px) {
        margin-right: 0;
        font-size: 14px;
        line-height: 22px;
      }
    }

    &__title {
      color: $whiteColor;

      @media screen and (max-width: 321px) {
        text-align: center;
      }
    }

    &__button {
      border: 2px solid #fcfcfc;
      padding: 20px 75px;
      border-radius: 5px;
      color: #fcfcfc;

      @media screen and (max-width: 321px) {
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
        padding: 16px 73px;
      }
    }

    &__text {
      color: $ligthGrayColor;
    }

    @media screen and (max-width: 641px) {
      gap: 29px;
    }
    @media screen and (max-width: 321px) {
      text-align: center;
      align-items: center;
    }
  }

  &-social {
    display: flex;
    margin-top: 85px;
    gap: 45px;

    &__item {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;

      @media screen and (max-width: 1201px) {
        font-size: 22px;
      }

      @media screen and (max-width: 321px) {
        font-size: 14px;
        line-height: 17px;
      }
    }

    &__link {
      color: #bcbcbc;
      transition: color 0.3s;

      &:hover {
        color: $whiteColor;
      }
    }

    @media screen and (max-width: 641px) {
      margin-top: 46px;
    }
    @media screen and (max-width: 321px) {
      margin-top: 37px;
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 1201px) {
    margin-right: 60px;
  }
  @media screen and (max-width: 641px) {
    margin-right: 0;
  }
}
