@import '../utils/variables';

.container {
  display: flex;
  max-width: 1800px;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 60px;

  @media screen and (min-width: 1921px) {
    margin: 0 auto;
  }

  &-grid {
    display: grid;
    margin: 0 auto;
    padding: 45px 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    gap: 40px;
    max-width: 1450px;
  }
}

.wrapper {
  padding-top: 25px;
  column-gap: 40px;
  display: grid;
  justify-content: center;
  // grid-template-columns: repeat(10, minmax(30px, 144px));
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows:
    $headHeight minmax(calc(100vh - 90px - 766px), auto)
    $footerHeight;

  grid-template-areas:
    'header header header header header header header header header header'
    'content content content content content content content content content content'
    'footer footer footer footer footer footer footer footer footer footer';

  @media screen and (max-width: 1201px) {
    // margin: 0 40px;
    column-gap: 20px;
    grid-template-columns: repeat(8, minmax(30px, 120px));
    grid-template-areas:
      'header header header header header header header header'
      'content content content content content content content content'
      'footer footer footer footer footer footer footer footer';
  }

  @media screen and (max-width: 641px) {
    // margin: 0 10px;
    column-gap: 10px;
    grid-template-columns: repeat(6, minmax(30px, 120px));
    grid-template-areas:
      'header header header header header header'
      'content content content content content content'
      'footer footer footer footer footer footer';
  }
  @media screen and (max-width: 401px) {
    // margin: 0 10px;
    grid-template-columns: repeat(4, minmax(30px, 120px));
    grid-template-areas:
      'header header header header'
      'content content content content'
      'footer footer footer footer';
  }
}
