@import '../utils/variables';

.container {
  display: flex;
  max-width: 1920px;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 60px;
  overflow: hidden;

  @media screen and (max-width: 1201px) {
    padding: 0 40px;
  }
  @media screen and (max-width: 641px) {
    padding: 0 20px;
  }
  @media screen and (max-width: 321px) {
    padding: 0 10px;
  }

  &-grid {
    display: grid;
    margin: 0 auto;
    // padding: 45px 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    gap: 40px;
    // max-width: 1450px;
    width: 81%;

    @media screen and (max-width: 1201px) {
      grid-template-columns: minmax(316px, 723px) minmax(263px, 400px);
      gap: 77px;
      width: 100%;
    }
    @media screen and (max-width: 641px) {
      gap: 22px;
      // padding-top: 40px;
    }
  }
}

.wrapper {
  padding-top: 25px;
  column-gap: 40px;
  display: grid;
  justify-content: center;
  // grid-template-columns: repeat(10, minmax(30px, 144px));
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows:
    $headHeight minmax(calc(100vh - 90px - 766px), auto)
    $footerHeight;

  grid-template-areas:
    'header header header header header header header header header header'
    'content content content content content content content content content content'
    'footer footer footer footer footer footer footer footer footer footer';

  @media screen and (max-width: 1201px) {
    // margin: 0 40px;
    column-gap: 20px;
    grid-template-columns: repeat(8, minmax(30px, auto));
    grid-template-rows:
      $headHeightM minmax(calc(100vh - 70px - 720px), auto)
      minmax($footerHeightM, auto);
    grid-template-areas:
      'header header header header header header header header'
      'content content content content content content content content'
      'footer footer footer footer footer footer footer footer';
  }

  @media screen and (max-width: 641px) {
    // margin: 0 10px;
    column-gap: 10px;
    grid-template-rows:
      $headHeightS minmax(calc(100vh - 65px - 700px), auto)
      minmax($footerHeightS, auto);
    grid-template-columns: repeat(6, minmax(30px, auto));
    grid-template-areas:
      'header header header header header header'
      'content content content content content content'
      'footer footer footer footer footer footer';
  }
  @media screen and (max-width: 401px) {
    padding: 15px 0 0;
    grid-template-columns: repeat(4, minmax(30px, auto));
    grid-template-rows:
      $headHeightXS minmax(calc(100vh - 59px - 777px), auto)
      minmax($footerHeightXS, auto);
    grid-template-areas:
      'header header header header'
      'content content content content'
      'footer footer footer footer';
  }
}
