@import '../utils/variables';

.header {
  grid-area: header;
  // margin: 0 60px;

  &-main {
    display: flex;
    width: 100%;
    padding: 17px 0;
  }

  &-logo {
    display: flex;
    // margin-left: 13px;
    cursor: pointer;
    width: 90px;
    height: 90px;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    border: 2px solid #f0f0f0;
    position: fixed;
    left: 60px;
    z-index: 2;

    @media screen and (max-width: 1200px) {
      margin-left: 0;
    }

    &__svg {
      width: 52px;
      height: 40px;
    }

    @media screen and (max-width: 640px) {
      flex: 1;
    }
  }
  &-profile {
    display: flex;
    margin-right: 92px;
    cursor: pointer;

    @media screen and (max-width: 1200px) {
      margin-right: 72px;
    }

    @media screen and (max-width: 640px) {
      margin-right: 0;
    }

    &__svg {
      width: 52px;
      height: 52px;

      @media screen and (max-width: 640px) {
        display: none;
      }
    }
  }

  &-burger__svg {
    display: none;
    @media screen and (max-width: 640px) {
      display: block;
      width: 55px;
      height: 35px;
    }
  }
}
