@import '../utils/variables';

.header {
  grid-area: header;
  // margin: 0 60px;

  &-main {
    display: flex;
    width: 100%;
    padding: 0.9444rem 0;

    &__404 {
      padding: 1.0556rem 0;

      @media screen and (max-width: 1201px) {
        padding: 0.7778rem 0;
      }
    }

    @media screen and (max-width: 1201px) {
      padding: 0.6778rem 0;
    }
    @media screen and (max-width: 641px) {
      padding: 0;
    }
  }

  &-logo {
    display: flex;
    cursor: pointer;
    width: 90px;
    height: 90px;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    position: fixed;
    left: 60px;
    z-index: 2;

    @media screen and (max-width: 1201px) {
      left: auto;
      width: 70px;
      height: 70px;
    }

    &__svg {
      width: 52px;
      height: 40px;
    }

    @media screen and (max-width: 641px) {
      // flex: 1;
      width: 49px;
      height: 38px;
    }
    @media screen and (max-width: 321px) {
      width: 38px;
      height: 29px;
    }
  }
  &-profile {
    display: flex;
    margin-right: 5.1111rem;
    cursor: pointer;

    @media screen and (max-width: 1201px) {
      margin-right: 72px;
    }

    @media screen and (max-width: 641px) {
      margin-right: 0;
      margin-left: auto;
    }

    &__svg {
      width: 52px;
      height: 52px;

      @media screen and (max-width: 1201px) {
        width: 42px;
        height: 42px;
      }

      @media screen and (max-width: 641px) {
        display: none;
      }
    }

    &__mr0 {
      margin-right: 0;
    }
  }

  &-burger__svg {
    display: none;
    @media screen and (max-width: 641px) {
      cursor: pointer;
      display: block;
      width: 55px;
      height: 35px;
    }
    @media screen and (max-width: 321px) {
      width: 35px;
      height: 29px;
    }
  }

  @media screen and (max-width: 641px) {
    border-bottom: 1px solid $graySoft;
  }
}
