@import '../utils/variables';

.header {
  &-nav {
    display: flex;
    align-items: center;
    flex: 1;
    // margin-left: 113px;
    margin-left: 184px; //отступ от левого края header

    &__list {
      display: flex;
      gap: 130px;

      @media screen and (max-width: 1200px) {
        gap: 100px;
      }

      @media screen and (max-width: 950px) {
        gap: 40px;
      }
    }

    &__item {
      transition: 0.3s;
      padding: 3px;
      &:hover {
        border-radius: 5px;
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0 0.8rem 0.5rem -0.5rem $mainColor,
          inset 0 0 0px 1px $mainColor;
      }

      &.nav__active {
        border-radius: 5px;
        cursor: context-menu;
        transform: translateY(-5px);
        box-shadow: 0 0.8rem 0.5rem -0.5rem $mainColor,
          inset 0 0 0px 1px $mainColor;

        .header-nav__link {
          cursor: context-menu;
        }
      }
    }

    &__link {
      color: $mainColor;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
    }

    @media screen and (max-width: 1200px) {
      margin-left: 88px;
    }

    @media screen and (max-width: 950px) {
      margin-left: 40px;
    }

    @media screen and (max-width: 640px) {
      display: none;
    }
  }
}
