.app-main__model-helper {
  position: absolute;
  top: calc(50% - (50px / 2));
  left: calc(50% - (400px / 2));
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  max-width: 400px;
  border-radius: 10px;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  & h2 {
    flex: 100%;
  }
}
