//color palete
$mainColor: #080029;
$whiteColor: #fcfcfc;
$borderHeader: #f0f0f0;
$blackColor: #0b0b0b;
$blueColor: #0f0049;
$superLightGrayColor: #d3d3d3;
$darkColor: #181818;
$lightBlueColor: #609fff;
$wightBlueColor: #d9e8ff;
$grayColor: #747474;
$ligthGrayColor: #bcbcbc;
$hardBlueColor: #3888ff;
$activeColor: #150068;
$darkGrayColor: #626262;
$redColor: #d00000;

//heights
$headHeight: 90px;
$footerHeight: 766px;
