@import '../utils/variables';

.btn {
  padding: 10.5px 16px;
  cursor: pointer;
  border-radius: 4px;
  border-width: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);

  &--light {
    color: $main-color;
    background-color: #F2F9FE;    
  }

  &--blue {
    color: #FFF;
    background-color:$main-color;    
  }

  &--lightblue {
    color: $main-color;
    background-color: #E3F2FD;  
  }

  &:disabled {
    background-color: #e9e9e9;
  }
}