.card-container {
  width: 300px;
  height: 230px;
  background-color: transparent;
  perspective: 25rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25%);
  cursor: pointer;
  transition: height 0.3s;

  &.collapse {
    height: 170px;
  }
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  &__front,
  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    &-container {
      font-size: 2rem;
      padding: 5px;
    }

    &-img {
      height: 170px;
      object-fit: fill;
    }
  }

  &__front {
    &-rotateBtn {
      border-width: 0;
      background-color: transparent;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__back {
    transform: rotateY(180deg);
  }

  &.hover {
    transform: rotateY(180deg);
  }
}

.rotate__svg {
  width: 30px;
  height: 30px;
}
