*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Simpsonfont";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./assets/fonts/Simpsonfont2.woff2") format("woff2");
}

body {
  margin: 0;
  color: black;
  font-family: Simpsonfont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-top: 2px solid grey;
  padding: 10px;
  z-index: 10;
  background-color: #ffffff;
}

.rsschool-logo {
  width: 80px;
}
