.category-container {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25%);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: black;

  &__img {
    overflow: hidden;
    display: flex;
  }

  &__text {
    padding: 5px;
    text-align: center;
    font-size: 2rem;
    background-color: #0d7cc1;
  }

  &-btns {
    display: flex;
    justify-content: space-around;
    width: 100%;

    & button {
      border-width: 0;
      background-color: transparent;
      border: 2px solid #00bf82;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 5px;
    }
  }
}

.category {
  max-width: 360px;
  width: 100%;
  height: 200px;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: aquamarine;

  &__img-cross {
    height: 100px;
    width: 100px;
    cursor: pointer;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__label {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    text-align: left;
  }

  &__input {
    background-color: transparent;
    border-width: 0;
    border-bottom: 1px solid;
    margin-left: 10px;
  }
}
