.game {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  max-height: 100%;
  align-items: center;
  flex-direction: column;
  gap: 60px;

  &__timer {
    width: 256px;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 24%);
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
    font-size: 36px;
    line-height: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__field {
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
    grid-template-columns: repeat(var(--grid-cols),1fr);
    grid-template-rows: repeat(var(--grid-rows),1fr);
  }

  &__congrats {
    position: fixed;
    padding: 10px;
    max-width: 340px;
    // height: 102px;
    width: 100%;
    top: calc(50vh - 92px / 2);
    left: calc(50vw - 340px /2);
    z-index: 100;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    // display: none;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    gap: 10px;

    &-text {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: rgba(0, 0, 0, 0.6);
      margin: 0;
    }
  }
}

.card {
  //height container - padding-top - height timer - gap
  width: calc((702px - 30px - 64px - 60px)/var(--grid-cols));
  height: calc((702px - 30px - 64px - 60px)/var(--grid-rows));  
  transform-style: preserve-3d;
  transition: transform 0.5s;
  position: relative;

  &--flipped {
    transform:rotateY(180deg) ;
  }

  &--success {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(10, 207, 131, 0.5);
      z-index: 10;
    }
    &::before {
      content: "";
      position: absolute;
      top: 5%;
      right: 5%;
      width: 24px;
      height: 24px;
      background-image: url(./assets/icons/correct.svg);
      z-index: 10;
    }
  }

  &--wrong {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(242, 78, 30, 0.5);
      z-index: 10;
    }
    &::before {
      content: "";
      position: absolute;
      top: 5%;
      right: 5%;
      width: 24px;
      height: 24px;
      background-image: url(./assets/icons/wrong.svg);
      z-index: 10;
    }
  }

  &-container {
    perspective: 25rem;
    cursor: pointer;  
  }

  &__back,
  &__front{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
  }
  
  &__back {   
    background-image: url(./assets/img/shirt.jpg);      
  }
  &__front {
    background-image: url(./assets/img/kitty/kitty0.png);
    transform: rotateY(180deg);
  }
}