.game__settings {
  &-wrapper {
    width: 256px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
  }

  &-title {
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0.15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  &-select-cards,
  &-select-difficult {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
    -webkit-appearance: none;
    outline: none;
    background-color: transparent;
    border-width: 0;
    margin-top: 10px;
    background-image: url('./assets/icons/select-arrow.svg');
    background-position: right center;
    background-repeat: no-repeat;
    width: 90%;
  }
}