.game-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 0 50px;
  justify-items: center;
  position: relative;
  grid-template-rows: 1fr 1fr 100px 50px;

  @media screen and (max-width: 1400px) {
    padding: 0 30px;
    gap: 10px;
  }

  @media screen and (max-width: 992px) {
    padding: 0 10px;
    grid-template-rows: auto;
  }

  &__button {
    // opacity: 0;
    display: none;
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    border-width: 0;
    background-color: tomato;
    font-size: 1rem;
    grid-column: 2/4;
    transition: all 0.3s;

    &-game {
      background-image: url("/assets/img/repeat.svg");
      background-repeat: no-repeat;
      background-size: 50px 50px, cover;
      background-position: center center;
      font-size: 0;
      width: 70px;
      height: 70px;
    }

    &.show {
      display: block;
    }

    @media screen and (max-width: 992px) {
      grid-column: 1/4;
    }
    @media screen and (max-width: 768px) {
      grid-column: 1/3;
    }
    @media screen and (max-width: 576px) {
      grid-column: auto;
    }
  }
}

.progress {
  position: absolute;
  bottom: 0;
  display: flex;
  overflow-x: hidden;
  max-width: 1400px;

  &__img {
    width: 40px;
    height: 40px;

    @media screen and (max-width: 576px) {
      width: 30px;
      height: 30px;
    }
  }

  @media screen and (max-width: 1200px) {
    max-width: 920px;
    bottom: auto;
    top: -40px;
    left: 10%;
  }
  @media screen and (max-width: 992px) {
    max-width: 720px;
  }

  @media screen and (max-width: 768px) {
    max-width: 520px;
  }

  @media screen and (max-width: 576px) {
    max-width: 240px;
    top: -35px;
  }
}
