.main {
  padding: 0 20px;
  
  &__wrapper {
    margin-top: 30px;
  }

  &__container {
    max-width: 940px;
    width: 100%;
    height: 702px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px;
  }

  &__settings {
    box-shadow: 0px 6px 5px rgb(0 0 0 / 24%), 0px 9px 18px rgb(0 0 0 / 18%);
    background-color: #FFF;
    height: 252px;
  }
}