@import '../utils/variables';

.header {
  &-logo {
    &--absolute {
      position: absolute;
    }
  }
}

.about404 {
  margin: 0.9556rem 0 4.4444rem;

  &-bg {
    top: 0;
    z-index: -1;
    position: absolute;
    text-align: center;
    color: $wightBlueColor;
  }

  &-wrapper {
    padding-top: 6.6667rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6667rem;
    max-width: 50rem;
    margin: 0 auto;

    @media screen and (max-width: 1201px) {
      padding-top: 6.3rem;
      gap: 1.5rem;
    }
    @media screen and (max-width: 641px) {
      gap: 1rem;
      padding-top: 4rem;
    }
    @media screen and (max-width: 321px) {
      gap: 0.6rem;
      padding-top: 3.9rem;
    }
  }

  &-text {
    font-size: 1.333333rem;
    line-height: 154%;
    text-align: center;
    color: $mainColor;

    &:first-of-type {
      @media screen and (max-width: 321px) {
        max-width: 60%;
      }
    }

    &:last-of-type {
      margin-top: -1.6667rem;

      @media screen and (max-width: 641px) {
        margin-top: -1.1667rem;
      }
      @media screen and (max-width: 321px) {
        margin-top: -0.5667rem;
      }
    }

    @media screen and (max-width: 1201px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 641px) {
      font-size: 0.8889rem;
    }
    @media screen and (max-width: 321px) {
      font-size: 0.7778rem;
    }
  }

  &-to_home {
    margin-top: 1.2111rem;
  }

  @media screen and (max-width: 641px) {
    margin: 2.9556rem 0 3.7444rem;
  }
  @media screen and (max-width: 321px) {
    margin: 0.9556rem 0 2.0444rem;
  }
}

.video404 {
  &-wrapper {
    max-width: 50rem;
    margin: 0 auto;

    @media screen and (max-width: 1201px) {
      max-width: 46.2222rem;
    }
    @media screen and (max-width: 641px) {
      max-width: 33.3rem;
    }
    @media screen and (max-width: 321px) {
      max-width: 16.6667rem;
    }
  }
}

.support {
  &-text {
    max-width: 23.6111rem;
    margin: 0 auto;
    padding: 3.3333rem 0 4.4444rem;
    text-align: center;
    line-height: 154%;
    color: $grayColor;

    @media screen and (max-width: 1201px) {
      padding: 2.7333rem 0 4.4444rem;
      font-size: 0.8889rem;
    }
    @media screen and (max-width: 641px) {
      padding: 2.0333rem 0 3.3444rem;
      font-size: 0.7777rem;
    }
    @media screen and (max-width: 321px) {
      font-size: 0.6667rem;
      max-width: 14.4444rem;
      padding: 1.4333rem 0 2.9444rem;
    }
  }
}
