.animal-cams {
  margin-top: 90px;

  .container {
    max-width: 1450px;
    margin: 0 auto;
  }
}

.aside--zoos {
  top: 114px;
  padding: 19px 15.5px;
}
.main-cam {
  display: flex;
  gap: 40px;

  &__video {
    width: 1064px;
    height: 599px;

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  &__donate {
    flex: 0 0 28%;

    &-subs {
      display: flex;
      gap: 10px;
      padding-bottom: 40px;
      border-bottom: 1px solid #e3e3e3;

      picture {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        overflow: hidden;
      }

      &__title {
        font-size: 1.333333rem;
        line-height: 28px;
        color: #0b0b0b;
      }

      &__watch {
        display: flex;
        align-items: center;
        margin-top: 8px;
        font-size: 18px;
        line-height: 28px;
        color: #747474;

        svg {
          height: 20px;
          width: 20px;
          margin-right: 5px;
        }
      }
    }

    &-call {
      margin-top: 20px;

      &__title {
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 38px;
        color: #080029;
        margin-bottom: 20px;
      }

      &__text {
        font-size: 18px;
        line-height: 28px;
        color: #747474;
        margin-bottom: 30px;
        padding-right: 25px;
      }
    }
  }
}

.other-cams {
  margin-top: 40px;

  &__dropdown {
    margin-bottom: 40px;
  }

  &__title {
    svg {
      width: 17px;
      height: 13px;
      margin-left: 10px;
      margin-bottom: 3px;
    }
  }

  &__list {
    display: flex;
    gap: 40px;
  }

  &__item {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    width: 328px;
    height: 184px;

    &:hover img {
      filter: blur(3px);
    }

    &:hover .other-cams__item--cover {
      top: 0;
      bottom: 0;
      z-index: 1;
    }

    &--cover {
      position: absolute;
      bottom: -500px;
      width: 100%;
      height: 100%;
      // top: 0;
      background: #0b0b0b;
      opacity: 0.4;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 0;
      transition: 0.3s;

      &-title {
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 38px;
        color: #fcfcfc;
        padding-bottom: 10px;
        border-bottom: 1px solid #fcfcfc;
      }

      &-btn {
        background: transparent;
        border-width: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        margin-top: 10px;
        color: #fcfcfc;
        cursor: pointer;
      }
    }
  }

  &__nav {
    display: flex;
    gap: 20px;
    margin-top: 40px;
  }

  &__btn {
    svg {
      height: 18px;
      width: 18px;
    }
  }
}

.facts {
  margin-top: 60px;

  .container {
    max-width: 1450px;
    margin: 0 auto;
  }

  &-desc {
    max-width: 512px;

    &__text {
      font-size: 18px;
      line-height: 154%;
      color: #747474;
      margin-top: 30px;
    }
  }

  &-accordion {
    margin-top: 50px;
    flex: 100%;

    &__item {
      border-bottom: 1px solid #d3d3d3;

      &--active {
        border-bottom: 1px solid #609fff;

        .facts-accordion__btn {
          color: #609fff;
        }
      }
    }

    &__panel {
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #747474;
    }

    &__details {
      margin: 40px 0;
    }

    &__link {
      margin-left: 5px;
      color: #609fff;
    }

    &__btn {
      width: 100%;
      justify-content: space-between;
      background: transparent;
      border-width: 0;
      font-size: 26px;
      line-height: 145%;
      display: flex;
      color: #080029;
      align-items: center;
      padding: 19px 0;
      cursor: pointer;
      outline: none;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
