// .modal {
//   display: none;
// }

.register {
  display: flex;
  // display: none;
  flex-direction: column;
  position: fixed;
  max-width: 639px;
  height: 460px;
  width: 100%;
  top: calc(50vh - 460px / 2);
  left: calc(50vw - 639px /2);
  z-index: 100;
  background-color: #FAFAFA;
  box-shadow: 0px 1px 5px rgb(0, 0, 0,0.2), 0px 3px 4px rgb(0, 0, 0,0.12), 0px 2px 4px rgb(0, 0, 0, 0.14);
  border-radius: 4px;

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 0.83rem;
  }

  &__wrapper {
    background-color: rgba(150, 150, 150, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    flex: 1;
    padding: 1.5111rem 0.83rem;

    &--left {
      display: flex;
    flex-direction: column;
    gap: 15px;
    }

    &--right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__first-name,
  &__last-name,
  &__e-mail {
    background-color: rgba(33, 33, 33, 0.08);
    border-radius: 4px 4px 0px 0px;
    width: 278px;
    padding: 10px 0 10px 50px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }

  &__label-form {
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.38);
  }

  &__input {
    outline: none;
    background-color: transparent;
    border-width: 0;
    padding: 0;
    width: 80%;

    &::placeholder {
      line-height: 24px;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.87);
    }
  }
  &__input-wrapper {
    position: absolute;
    right: 1%;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
  }

  &__input-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ &-checkmark {
      background-color: #018786;
    }
    &:checked ~ &-checkmark:after {
      opacity: 1;
    }
    &:checked ~ &-checkmark:before {
      opacity: 1;
      width: 40px;
      height: 40px;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
    }

  &-checkmark {
    position: absolute;
    left: calc(50% - 9px);
    top: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-color: #eee;
    

      &:hover {
        background-color: #ccc;
      }

      &:before {
        content: "";
        position: absolute;
        opacity: 0;
        top: 9px;
        left: 9px;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: rgba(1, 135, 134, 0.08);
        transition: 0.5s;
      }

      &:after {
        content: "";
        position: absolute;
        opacity: 0;
        left: 6px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid #FFF;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        transition: 0.5s;
      }
    }
  }

  &__btn-container {
    display: flex;
    gap: 15px;
  }
}