@import '../utils/variables';

.header {
  background-color: $main-color;
 
  &__wrapper {
    padding: 0 20px;
  }
 
  &__container {
   display: flex;
   align-items: center;
  }
 
  &__logo {
     display: flex;
     flex-direction: column;
     font-size: 11px;
     font-weight: 500;
     color: #FFFFFF;
     letter-spacing: 1.25px;
     text-transform: uppercase;
     text-align: center;
 
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 19px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
     &:last-child {
       color: $main-color;
       background-color: #FFF;
       text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       }
     }
   }
 
   &__btn-register {
     margin-left: auto;
   }

   &__avatar {
    margin-left: 20px;
    display: flex;

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
   }
 }